.container {
  margin: 50px 0;
  max-width: 100%;
}

.card {
  margin: 0 2% !important;
}

.infected {
  border-bottom: 10px solid rgba(54, 162, 235, 0.9);
}

.recovered {
  border-bottom: 10px solid rgba(75, 192, 192, 0.9);
}

.deaths {
  border-bottom: 10px solid rgba(255, 99, 132, 0.9);
}

.active {
  border-bottom: 10px solid rgba(255, 159, 64, 0.9);
}

@media (max-width: 770px) {
  .card {
    margin: 2% 0 !important;
  }
}
